@font-face {
  font-family: "Roboto";
  src: url("../../res/Roboto-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../res/Roboto-Light.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// colors
$mainTextColor: white;
$secondTextColor: #797EA3;
$formBgColor: #171929;
$inputBorderColor: #3F4363;

//fonts
$fontFamily: 'Roboto';
$normalFontSize: 18px;
$smallFontsize: 15px;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -khtml-border-radius: $br;
  -o-border-radius: $br;
  -ms-border-radius: $br;
  -icab-border-radius: $br;
}

@mixin formLabel {
  color: $secondTextColor;
  font-size: $smallFontsize;
  font-weight: 400;

  .note--\* {
    color: $secondTextColor;
    margin: 0 1px;
  }
}

body {
  @include flexColumn;
  align-items: center;

  background: url('../../res/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: $fontFamily;
  color: $mainTextColor;

  padding: 5% 0 4% 0;
}

.title {
  font-size: 70px;
  line-height: 120%;
}

@media (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.form {
  @include flexColumn;
  align-items: flex-start;

  width: Min(389px, 90vw);
  margin-top: 25px;
  padding: 41px 45px;
  background: $formBgColor;
  @include borderRadius(28px);
}

.form--description {
  font-size: $normalFontSize;
  font-weight: 400;
  text-align: center;
  margin: 0 30px;
}

.form--note {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 2px;

  @include formLabel;
  text-align: center;
}

.form--label {
  @include formLabel;
  width: 100%;
  margin-top: 8px;
}

.form--label:focus-within {
  color: $mainTextColor;
}

.form--input {
  margin-top: 3px;
  margin-bottom: 30px;
  padding: 4px 0;
  width: 100%;

  background: none;
  border: none;
  border-bottom: #3F4363 solid 1px;

  font-family: 'Roboto';
  font-size: $normalFontSize;
  color: $mainTextColor;
}

.form--input:focus-visible {
  outline: none;
  border-bottom-color: $mainTextColor;
}

.form--label-accept {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    @include formLabel;
  }
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.form--accept {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form--label-accept {
  @include formLabel;
}

.form--label-accept:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;

  border: #2C2F47 solid 1px;
  @include borderRadius(8px);
  background: none;
  margin-right: 12px;
}

.form--label-accept:after {
  content: "";
  display: block;
  width: 31px;
  height: 31px;

  opacity: 0;

  background: url("../../res/check.svg") no-repeat center;
  background-size: 15px 11px;

  position: absolute;
  left: 1px;
  z-index: 2;
}

.form--accept:checked + .form--label-accept:before {
  background-color: #2C2F47;
}

.form--accept:checked + .form--label-accept:after {
  opacity: 1;
}

.form--submit {
  border: none;
  @include borderRadius(28px);

  width: 121px;
  height: 44px;
  margin: 0 auto;

  background-color: #2C2F47;

  color: $mainTextColor;
  font-family: 'Roboto';
  font-size: $normalFontSize;
  font-weight: 400;
}









